.card {
    
    margin: 20px;
    position: relative;
    width: 300px;
    padding: 0px;
}
.img-container{
    margin: 0px;
}
.card > .img-container {
    
    /* text-align: center; */
    
}
.card > .img-container > img {
    width: 105%
}