.container {
  height: 170%;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 150px;
  justify-content: space-around;
  align-content: flex-start;
}


/* @media (max-width:860px){
  .container {
    padding: 50px;
    
  }
} */
